* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;

  }



html{
    width: fit-content;
    caret-color: transparent;
}
body{
    margin: 0;
    padding: 0;
}

.nav_bar{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 50px;
    height: 79px;
    border-bottom: #D4CFCC 1px solid;
    
}
.roommy{
    flex-basis: auto;
    flex-grow: 1;
    margin: 0 0px;
    
    text-align: center;
}
#romy{
    font-size: 36px;
    font-weight: 500;
}
.left_navbar {
    align-items: center;
    justify-content: flex-start;
    padding-right: 0;
   
}
.right_navbar{
    align-items: center;
    justify-content: flex-end;
    padding-left: 0;
}

.scrollbtn{
    font-family: 'Montserrat', sans-serif; 
    font-style: normal;
    line-height: 20px;
    font-weight: 300;
   
 
    display: inline-flex;
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
}



.scrollbtn:hover{
    border-bottom: 1px solid #D4CFCC ;
}


.section-1{
    background-color: #F1F1F1;
    padding-top: 79px;
    display: flex;
    
  
}

.section-1left, .section-1right{
    padding-top: 10%;
    text-align: center;
    
}
.h2{
    white-space: nowrap
}

.phone{
    min-width: 40vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.h2{
    text-transform: uppercase;
    color: #504946;
    font-family: 'Cormorant', sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #9D9997;
   
}


.section-2{
    background-image:url(/images/back-2.jpg);
}

.about_proj{
    text-transform: uppercase;
    color:#504946;
    font-family: 'Cormorant', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.text_about{
    font-family: 'Montserrat', sans-serif; 
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
    color: #9D9997;
    text-align: center;
    margin: 5%;
    border-bottom: 1px solid #D4CFCC;;
    padding-bottom: 3%;
}

.about_table{
    margin: 10%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style-type:none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 59.1804px;
    line-height: 72px;
    text-align: center;

    color: #817E7C;
}
.about_data{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 71px;
    text-align: center;
    color: #817E7C;
    max-width: min-content;
    line-height: 21.94px;
}

.section-3{
    
}


@media (max-width: 1050px) {
    .section-1{
        flex-direction: column;
        align-items: center;
        padding: 5%;
    }
    .section-1left, .section-1right{
        width: 100%;
        padding: 0;
        margin: auto;
    }
    .left_navbar, .right_navbar {
        
        display: none;

    }
    
}


